<app-custom-dropdown
  [values1]="subjectNames"
  [values2]="dates"
  (selected)="onDropdownSelect($event)">
</app-custom-dropdown>

<div class="mcontainer">

  <div class="panel-container">
    <div class="panel-container__buttons">
      <button (click)="chooseList('students')">Students</button>
      <button (click)="chooseList('subjects')">Subjects</button>
    </div>
    <div class="panel-container__list">
      <ol *ngIf="listName === 'students'" (click)="showStatistics($event)">
        <li
          *ngFor="let student of currentStudents | sort:'Last name'"
          attr.data-studentid = {{student.Id}}>
          {{student.Name + ' ' + student['Last name']}}
        </li>
      </ol>
      <ol *ngIf="listName === 'subjects'" (click)="showStatistics()">
        <li
          *ngFor="let subject of subjects$ | async | sort:'Name'">
          {{subject.Name}}
        </li>
      </ol>
    </div>
  </div>

  <div class="statistics-container">
    <div class="statistics-container__data">
      <div><span>Student:</span> {{currentStudent}}</div>
      <div><span>Average mark:</span> {{statisticsData.averageMark}}</div>
    </div>
  </div>

</div>
