li {
  margin: 0;
  padding: 5px;
  cursor: pointer;

  &:hover {
    background: rgb(52, 64, 80);
  }
}

button {
  min-width: 80px;
  margin: 5px;
  padding: 5px;
  background-color: rgb(102, 102, 102);
  border: none;
  border-radius: 5px;
  outline: none;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s linear;

  &:hover {
    background: rgb(139, 139, 139);
  }

  &:active {
    background-color: rgb(190, 190, 190);
  }
}

.mcontainer {
  display: flex;
}

.panel-container {
  display: inline-block;
  width: 30%;
  min-width: 200px;
  border: 1px dashed rgba(108, 98, 255, 0.514);

  &__buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  }
}

.statistics-container {
  width: 65%;
  font-size: 1.2rem;
  position: relative;
  text-align: center;

  > span {
    display: block;
    text-align: center;
  }

  &__data {
    width: 90%;
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px 10px;
    border-radius: 5px;
    border: 2px solid rgba(108, 98, 255, 0.514);
    transform: translate(-50%, -50%);


    span {
      margin-right: 10px;
      font-weight: bold;
      color: rgb(200, 200, 255);
    }
  }
}
