:host {
  font-size: 40px;
}

button {
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  margin: 10px;
  padding: 0;
  border-radius: 50%;
  background: white;
  font-size: inherit;
  color: blue;
  text-align: center;
}

