<h2>{{subject}}</h2>

<div class="top-btn-container">
  <button
    class="btn btn-primary btn-add"
    (click)="addDate(true)">
    <span>+</span>
  </button>
</div>

<div class="modal-container" *ngIf="modalFlag">
  <app-new-date-form
    (submitted)="onDateSubmit($event)"
    (closed)="addDate(false)">
  </app-new-date-form>
</div>

<div class="table-container" *ngIf="subject">
  <app-subject-table
    [students]="students | sort:'lastName'"
    [dates]="dates" [subject]="subject"
    (edited)="onEdit($event)">
  </app-subject-table>
</div>

<div class="form-container">
  <form action="" (submit)="save($event)" [formGroup]="teacher">
    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
