<p>{{'subjectPage.form.purpose' | translate}}: </p>
<div class='pop-up-container'>
  <div #popUpContainer></div>
</div>
<div class="mcontainer">
  <app-form
    [labels]="[
      {
        type: 'input',
        name: 'subjectPage.form.name' | translate,
        placeholder: 'subjectPage.form.placeholder1' | translate,
        required: true
      },
      {
        type: 'input',
        name: 'subjectPage.form.teacher' | translate,
        placeholder: 'subjectPage.form.placeholder2' | translate,
        required: true
      },
      {
        type: 'input',
        name: 'subjectPage.form.room' | translate,
        placeholder: 'subjectPage.form.placeholder3' | translate,
        required: false
      },
      {
        type: 'textarea',
        name: 'subjectPage.form.description' | translate,
        placeholder: 'subjectPage.form.placeholder4' | translate,
        required: false
      }
    ]"
    [buttonName]="'add' | translate"
    (submitted)="onSubmit($event)">
  </app-form>
</div>
