<h2>{{subject}}</h2>

<div class="top-btn-container">
  <button class="btn btn-primary btn-add"><span>+</span></button>
</div>

<div class="table-container" *ngIf="subject">
  <app-subject-table [students]="students | sort:'Last name'" [dates]="dates" [subject]="subject"></app-subject-table>
</div>

<div class="form-container">
  <form action="">
    <label for="teacher">Teacher: </label>
    <input type="text" name="teacher" class="form-control">
    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
