<h2>{{subject}}</h2>
<div class="top-btn-container">
  <button class="btn btn-primary btn-add"><span>+</span></button>
</div>
<div class="table-container">
  <table class="table table-striped table-bordered table-hover table-dark">
    <caption>Table of student marks</caption>
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Average mark</th>
        <th *ngFor="let date of dates">{{ date | date }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.Name}}</td>
        <td>{{student['Last name']}}</td>
        <td>{{calcAverageMark(student)}}</td>
        <td contenteditable *ngFor="let date of dates">{{student.Marks[subject][date]}}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="form-container">
  <form action="">
    <label for="teacher">Teacher: </label>
    <input type="text" name="teacher" class="form-control">
    <div class="btn-container">
      <button class="btn btn-primary" type="submit">Save</button>
    </div>
  </form>
</div>
