<app-head></app-head>
<app-panel></app-panel>

<router-outlet></router-outlet>

<!-- стилизованный скролл ?- -->
<!-- доделать сам треугольник?? -->
<!-- sticky table header? -->
<!-- tables for mobile -->

<!-- изменить название некоторых компонент? ! -->
<!-- заменить Cabinet на Room? delete Index property?? -->

<!-- кнопка-удаление -> колонка с чекбоксами в таблице -> выбранное удалить; или: отобрать выделенное -> удалить -->
<!-- измнение: редактировать элемент по двойному клику -> нажать на кнопку и сохранить - самый удобный вариант, если надо многих отредактировать -->
<!-- добавление новой колонки?? -->

<!-- injection without provider -->
<!-- make date cells with inputs and save on submit ?? -->
<!-- cookie -->
<!-- make subject dates as set -->
<!-- сдулать students объктом, а не массивом?-->

<!-- вынести calcAverageMark -->
<!-- оценки на данный момент сохраняются по одной  - см. переменную newValues -->

<!-- make table of inputs -->
<!-- lazy loading -->
<!-- локализация для дат -->
<!-- styles for required inputs -->

<!-- expComponent.instance._ref = expComponent -->
<!-- this._ref.destroy() -->
<!-- https://lazamar.github.io/dispatching-from-inside-of-reducers/ -->
<!-- попробопать таблицу из инпутов во вкладке статистики?? -->
<!-- другое расположение language selector для mobile -->
<!-- закинуть его вниз? -->
