<div class="table-container">
  <app-student-table
    [students]="students$ | async | sort:'lastName'"
    (removed)="onStudentRemove($event)">
  </app-student-table>
</div>

<div class="buttons-container">
  <app-round-button [routerLink]="'form'" tabindex="-1">
    <span>+</span>
  </app-round-button>
</div>

<div class="modal-container" *ngIf="showModalFlag">
  <p>
    Are you sure you want to delete
    <span>{{ student.name + ' ' + student.lastName }}</span>
    from the list?
  </p>
  <button class="btn btn-primary" (click)="removeStudent()">
    Yes
  </button>
  <button class="btn btn-primary" (click)="showModal()">
    No
  </button>
</div>
