@import '../../../../styles/button';

input, textarea {
  border-color: rgb(80, 89, 131);
  color: white;

  &:focus {
    color: white;
  }
}

button:hover {
  background: #007bff;
}

.btn-container {
  text-align: center;
}

