<form action="">
  <div class="form-group ">
    <label for="Name" class="col-form-label">* Name <ng-content select=".label-1"></ng-content></label>
    <input type="text" name="Name" placeholder="Jack" class="form-control" required>
  </div>
  <div class="form-group ">
    <label for="Surname" class="col-form-label">* Surname <ng-content select=".label-2"></ng-content></label>
    <input type="text" name="Surname" placeholder="Black" class="form-control" required>
  </div>
  <div class="form-group ">
    <label for="Address" class="col-form-label">Address</label>
    <input type="text" name="Address" placeholder="Zhukova, 29" class="form-control">
  </div>
  <div class="form-group ">
    <label for="Description" class="col-form-label">Description</label>
    <textarea cols="30" rows="10" name="Description" placeholder="Description" class="form-control"></textarea>
  </div>
  <div class="form-group btn-container">
    <button type="submit" class="btn btn-primary">Add</button>
  </div>
</form>
