<p>{{'studentPage.form.purpose' | translate}}: </p>
<div class='pop-up-container'>
  <div #popUpContainer></div>
</div>
<div class="mcontainer">
  <app-form
    [labels] = "['studentPage.form.name' | translate,
      'studentPage.form.surname' | translate,
      'studentPage.form.address' | translate,
      'studentPage.form.description' | translate]"
    [placeholders] = "['studentPage.form.placeholder1' | translate,
      'studentPage.form.placeholder2' | translate,
      'studentPage.form.placeholder3' | translate,
      'studentPage.form.placeholder4' | translate]"
    [buttonEntrails]="'add' | translate"
    [required]="[true, true, false, false]"
    (submitted)="onSubmit($event)">
  </app-form>
</div>
