<div>
  <button type="button" class="btn btn-primary" [routerLink]="'students'" routerLinkActive="focus active-link">
    Students
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="'subjects'" routerLinkActive="focus active-link">
    Subjects
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="'statistics'" routerLinkActive="focus active-link">
    Statistics
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="'export'" routerLinkActive="focus active-link">
    Export
  </button>
</div>

