<div>
  <button type="button" class="btn btn-primary" [routerLink]="'students'" routerLinkActive="focus active-link">
    {{'panel.button1' | translate}}
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="'subjects'" routerLinkActive="focus active-link">
    {{'panel.button2' | translate}}
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="'statistics'" routerLinkActive="focus active-link">
    {{'panel.button3' | translate}}
  </button>
  <button type="button" class="btn btn-primary" [routerLink]="'export'" routerLinkActive="focus active-link">
    {{'panel.button4' | translate}}
  </button>
</div>

